.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    border-radius: 8px;
    font-style: normal;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    height: 24px;
    margin-right: 32px;
    margin-top: 12px;

}

.Urgent {
    width: 74px;
    background: #FEC400;
    
}

.New {
    width: 54px;
    background: #29CC97;
    border-radius: 8px;
}

.Default {
    width: 76px;
    color: #9FA2B4;
    background: #F0F1F7;
}

.Plus {
    border: 2px solid #9FA2B4;
    color:  #9FA2B4;
    background: #F0F1F7;
    padding-top: 4px;
}

