.Container {
    position: relative;
    margin: auto;
    margin-left: 30px;
    border-radius: 10px;
    width: 100%;
    height: 546px;
    background:white;
    border: 1px solid #DFE0EB;
}

.Chart {
    margin: auto;
    position: absolute;
    top: 0;
    width: 65%;
    min-width: 500px;
    max-width: 900px;
    height: auto;
}

.Graph {
    padding-left: 40px;
}

.TitleContainer {
    margin-left: 32px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.Title {
    margin: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 0.4px;
    line-height: 24px;
    color: #252733;
}

.SubTitle {
    margin: 0;
    font-style: normal;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.1px;
    line-height: 16px;
    color: #9FA2B4;
}

.ChartAdditionalInfo {
    position: absolute;
    width: 342px;
    right: 0;
    text-align: center;
    margin: auto;
    height: 536px;

    & div {
        border: 1px solid #ccc;
        width: 99.5%;
        height: calc(100% / 5);

        &:nth-child(1) {
            border-top-right-radius: 10px;
        }

        & p {
            font-style: normal;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            line-height: 22px;
            color: #9FA2B4;
            letter-spacing: 0.3px;
        }

        & h1 {
            font-style: normal;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            line-height: 30px;
            color: #252733;
            letter-spacing: 0.3px;
        }
    }
}

.Card {
    margin: 50px 30px;
    padding-right: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ChartCard {
    position: relative;
    background: white;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    box-sizing: border-box;
    width: 546px;
    height: 336px;
}
.ChartCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    text-align: left;

    & div {
        &:nth-child(1) {
            display: flex;
            flex-direction: column;
        }
    }

    & h1 {
        margin: 0;
        font-weight: bold;
        line-height: 24px;
        font-size: 19px;
        color: #252733;
        letter-spacing: 0.4px;
    }

    & p {
        margin: 0;
        margin-top: 5px;
        font-style: normal;
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 0.1px;
        line-height: 16px;
        color: #9FA2B4;

        span {
            color: black;
        }
    }

    & a {
        margin: 0;
        text-decoration: none;
        font-style: normal;
        font-size: 14px;
        font-weight: 600;
        text-align: right;
        line-height: 20px;
        color: #3751FF;
        letter-spacing: 0.2px;
    }
}

.TicketBrief {
    text-align: left;
    display: flex;
    flex-direction: column;

    & div {
        margin-top: 3.5px;
        display: flex;
        width: 546px;
        height: 58px;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #DFE0EB;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 10px;
    }
    h1 {
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: 20px;
        color: #252733;
        margin-left: 32px;
        margin-top: 17px;
    }

    p {
        font-size: 14px;
        text-align: right;
        line-height: 20px;
        color: #9FA2B4;
        letter-spacing: 0.2px;
        margin-right: 32px;
    }

    input {
        margin-right: 16px;
    }

    input[type="text"] {
        border-radius: 4px;
        border: 1px solid transparent;
        width: 100%;
        outline: none;
        padding-left: 32px;
    } 
}
