.OverviewBody {
position: relative;
width: 1185px;
margin-left: 255px;
}

.OverviewHeader {
    position: absolute;
    padding-left: 25px;
    margin-top: 41px;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.3px;
    line-height: 30px;
    color: #252733;
}

.Overview_Title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 100px;
}

.OverviewIcons {
    display: flex;
    width: 15%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.Chart {
    position: absolute;
    width: 70vw;
    height: auto;
    top: 150px;
}