.OverviewBody {
position: relative;
width: 1185px;
margin-left: 255px;
}

.OverviewHeader {
    position: absolute;
    padding-left: 25px;
    margin-top: 41px;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.3px;
    line-height: 30px;
    color: #252733;
}